<div class="jumbotron">
    <div>
        <h3>Dados do Contato</h3>
        <table class="table">
            <tr>
                <td>{{"Nome: " + contato.nome}}</td>
            </tr>
            <tr>
                <td>{{"CPF: " + contato.cpf}}</td>
            </tr>
            <tr>
                <td>{{"Telefone: " + contato.telefone}}</td>
            </tr>
            <tr>
                <td>{{"Data de aniversário: " + contato.data | date:"dd/MM"}}</td>
            </tr>
        </table>
        <a class="btn btn-primary" href="#!/contatosFisico">Voltar</a>
    </div>
</div>